<section class="fixed-bg no-padding" id="about">
    <div class="container bg-primary">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">East Coast Cabinets & More is a designer and builder of cabinets for every room in your home.</h2>
                <hr class="light">
		
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>

