<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
          <h2>"My project was completed quickly and the quality was outstanding. I was very pleased with the customer service and communication throughout the entire process. Thanks, V, for being such a pleasure to work with."</h2>
	  <p style="text-align: right;">-Lisa Colasurdo</p>
            <a href="#" class="btn btn-default btn-xl wow tada">Try it Now!</a>
        </div>
    </div>
</aside>

